/* 
    Created on : Apr 8, 2015, 1:10:01 AM
    Author     : giancarlo
*/

body {
    margin-top: 50px;
}

.navbar-brand {
    padding: 3px 15px;
}

ol.breadcrumb {
    margin-bottom: 0px;
}

.has-error {
    color: red;
}